{% extends 'lender/base.html' %}

{% block head %}
{% endblock %}
{% block title%}{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container">
              <h2>書籍貸出中の利用者一覧</h2>
              {% for borrower_user in all_borrower_users %}
              <p>
              <a href="{% url 'book_rental_app:detail_status_user' borrower_user.pk %}">{{ borrower_user }}</a>
              <button type="button" onclick="location.href='{% url 'book_rental_app:history_status_user' borrower_user.pk %}'">履歴</button>
              {% if borrower_user.is_borrowing %}
              🟢
              {% else %}
              ⚪️
              {% endif %}
              </p>
              {% endfor %}
            </div>
        </section>

{% endblock %}