
{% extends 'lender/base.html' %}
{% block content %}

<!-- Page Content-->
<section class="pt-4">
  <div class="container">
    <h3>{{ large_category.name }}</h3>
    <button type="button" onclick="location.href='{% url 'book_rental_app:list_small_category' large_category.pk %}'">一覧に戻る</button>
    <form method="post" action="{% url 'book_rental_app:list_small_category' large_category.pk %}">
        {% csrf_token %}
    <input type="text" name="name" required autofocus>
    
    <button>作成</button>
    </form>
  </div>
</section>

{% endblock %}