{% extends 'borrower/base.html' %}
{% load custom_tag %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}
{% block content %}

        <!-- Page Content-->
        <section class="pt-4">
            <div class="container">
              <form method="post" action="#">
                  {% csrf_token %}
                  <input type="submit" name="button" value="削除する">
                  <table class="table table-bordered border-primary table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">返却</th>
                        <th scope="col">借りた日時</th>
                        <th scope="col">管理ID</th>
                        <th scope="col">大カテゴリー</th>
                        <th scope="col">小カテゴリー</th>
                        <th scope="col">カテゴリー内ID</th>
                        <th scope="col">タイトル</th>
                        <th scope="col">返却期限</th>,
                        <th scope="col">返却日時</th>
                        <th scope="col">許可者</th>
                        {% comment %} <th scope="col" width="6%">操作</td> {% endcomment %}
                      </tr>
                    </thead>
                    {% if status_history %}
                    {% for status in status_history %}
                    <tbody>
                      <tr id="{{ status.id }}">
                          <td><input type="checkbox" name="returning_status_id" value="{{ status.id }}"></td>
                          <td>{{ status.checkout_date }}</td>
                          <td>{{ status.book.manage_id }}</td>
                          <td>{{ status.book.category.large_category }}</td>
                          <td>{{ status.book.category }}</td>
                          <td>{{ status.book.id_in_category }}</td>
                          <td>{{ status.book.title }}</td>
                          <td>{{ status.get_due_date | date:"Y年m月j日" }}</td>
                          <td>{{ status.returned_date }}</td>
                          <td>{{ status.lender_user }}</td>
                      </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                    <h3>あなたはこれまでに借りている本はありません。</h3>
                    {% endif %}
                  </table>      
                  
              </form>
            </div>
          </section>
  
  
          <script>
              $(document).ready(function() {
                  $('tr').click(function(event) {
                  // チェックボックスがチェックされたら無視
                      if (event.target.type !== 'checkbox') {
                          $(':checkbox', this).trigger('click');
                      }
                  });
              });
              function csrfSafeMethod(method) {
                  // these HTTP methods do not require CSRF protection
                  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }
              </script>
  {% endblock %}